
nav a,h6 a{
    text-decoration: none;
    color: white;
}
nav a:hover,.active{
    border-bottom: white solid 2px;
    color: white;
    font-weight: bold;
}
ul{
    list-style-type: square;
    font-family: 'Lato', sans-serif;
}
h5{
    font-family: 'Montserrat', sans-serif;
}
p,span,h6{
    font-family: Georgia, serif;
}
li::marker{
    color: dodgerblue;
}
progress{
    animation: animation-progress 3s ease-out forwards;
}
/* Pour Chrome, Safari, Edge */
progress::-webkit-progress-value {
    background-color: dodgerblue; /* Couleur de la barre de progression */
}

/* Pour Firefox */
progress::-moz-progress-bar {
    background-color: dodgerblue; /* Couleur de la barre de progression */
}

@keyframes animation-progress {
    0% { width: 0; }
    100% { width: 100%; }
}

/* page portfolio */

.zoom-effect {
    overflow: hidden;
    position: relative;
}

.zoom-effect img{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.zoom-effect img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 762px) {
    #gauche {
        margin-bottom: 10px;
    }

    progress{
        width: 100%;
    }
}