nav{
    position: fixed;
    width: 100%;
}

nav a,h6 a{
    text-decoration: none;
    color: white;
}
nav a:hover,.active{
    border-bottom: white solid 2px;
    color: white;
    font-weight: bold;
}
ul{
    list-style-type: square;
    font-family: 'Lato', sans-serif;
}
h5{
    font-family: 'Montserrat', sans-serif;
}
p,span,h6{
    font-family: Georgia, serif;
}
li::marker{
    color: dodgerblue;
}

#competences div{
    width: 10%;
    border-radius: 2rem;
}

#competences div img{
    height: 90%;
    width: 95%;
}
#competences div:hover{
    background-color: red;
}
/* page portfolio */

.zoom-effect {
    overflow: hidden;
}

.zoom-effect img{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.zoom-effect img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    #competences div{
        width: 35%;
        height: 5%;
        font-size: 1rem;
    }
}
